{% extends 'base.html.twig' %}

{% block title %}UserInfos{% endblock %}

{% block body %}
    <h1>UserInfos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_info.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user_info.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user_info.prenom }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ user_info.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user_info.ville }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ user_info.createdAt ? user_info.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_infos_index') }}">back to list</a>

    <a href="{{ path('app_user_infos_edit', {'id': user_info.id}) }}">edit</a>

    {{ include('user_infos/_delete_form.html.twig') }}
{% endblock %}
